body {
  margin: 0;
}

#homePage {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#header {
  width: 100%;
  height: 3vw;
  padding-top: 3vh;
  color: white;
  background-image: linear-gradient(#2ca731, #6bd26f);
  text-align: center;
  font-size: 2vw;
  align-self: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 80%;
  overflow-y: scroll;
}

#newList {
  margin-top: -2.1vw;
  width: 2.1vw;
  height: 2vw;
  border-radius: 0.5vw;
  position: fixed;
  right: 2%;
}

#newList:hover {
  transform: scale(1.5);
}

#crossButton {
  top: -2.6vw;
  display: none;
  font-size: 1vw;
  cursor: pointer;
  height: 1vw;
  margin-right: 0.5vw;
}

.addList {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7vw;
  width: 16vw;
  border: 1px solid black;
  background-color: white;
  border-radius: 0.5vw;
  transition: ease-in 200ms;
  transform: scale(0);
  padding: 0.5vw;
}

#addList > span {
  font-size: 1.5vw;
  margin-left: 1vw;
}

#todoName {
  width: 13vw;
  margin-left: 2vw;
  margin-top: 1vw;
  border: none;
  outline: none;
  font-size: 1.3vw;
  border-bottom: 1px solid black;
}

.cancel {
  margin-left: 8vw;
  cursor: pointer;
  font-size: 1.3vw;
  margin-right: 0.7vw;
}

.save {
  cursor: pointer;
  font-size: 1.3vw;
}

#todoSearchBar {
  margin-top: 1vw;
  left: 73%;
  flex: 10%;
  width: 25vw;
  border-bottom: 0.1vw solid black;
  position: relative;
  padding: 0.5vw;
}

::-webkit-input-placeholder {
  font-style: italic;
}

#todoSearchBar > input,
#taskSearchBar > input {
  outline: none;
  border: none;
  width: 90%;
  font-size: 1.5vw;
  font-weight: 250;
}

#todoSearchBar > img,
#taskSearchBar > img {
  width: 6%;
  vertical-align: sub;
}

#taskSearchBar {
  margin-top: -3vw;
  left: 2%;
  flex: 10%;
  width: 25vw;
  border-bottom: 0.1vw solid black;
  position: relative;
  padding: 0.5vw;
}
