#homePage {
  font-family: sans-serif;
  width: 93%;
}

#container {
  border: 1px solid black;
  height: 90%;
  width: 106.52%;
  background-image: linear-gradient(#ffff007a, #ffffff00);
}

#header {
  border: 1px solid black;
  width: 100%;
  height: 10%;
  padding: 3vw;
  font-size: 3vw;
  background-image: linear-gradient(#f3ec29, rgb(121, 252, 252));
  text-align: center;
}

#menuBar {
  margin-top: -3.9vw;
  width: 2.1vw;
  height: 2vw;
  border-radius: 0.5vw;
  border: 1px solid black;
  position: absolute;
  left: 2%;
}

.menuBarLines {
  margin-top: 0.35vw;
  margin-left: 0.3vw;
  width: 1.5vw;
  background-color: white;
  height: 0.2vw;
}

#sideBarHeader {
  background-color: #ffffa4;
  height: 3vw;
  padding-top: 1vw;
  border-bottom: 1px solid black;
}

#headerText {
  text-align: start;
  margin-left: 1vw;
}

#headerText > span {
  font-weight: 100;
}

#newList {
  margin-top: 0.5vw;
  padding-left: 1vw;
  height: 3vw;
  border-bottom: 1px solid black;
  cursor: pointer;
}

#newList > span {
  margin-left: 2vw;
  font-weight: 100;
}

#sideBar {
  width: 0vw;
  background-color: white;
  position: fixed;
  top: 8;
  left: 0.6vw;
  bottom: 0;
  overflow-y: scroll;
  border: 1px solid black;
  display: none;
  font-size: 2vw;
}

#crossButton {
  position: relative;
  top: -2.6vw;
  display: none;
  font-size: 1vw;
  cursor: pointer;
  text-align: end;
}
