body {
  margin: 0;
}

#homePage {
  font-family: sans-serif;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  border: 0.1vw solid black;
}

#header {
  border: 1px solid black;
  width: 100%;
  height: 10%;
  padding: 3vw;
  font-size: 3vw;
  background-image: linear-gradient(#f3ec29, rgb(121, 252, 252));
  text-align: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  border: 0.1vw solid black;
  height: 90%;
  width: 100vw;
  overflow-y: scroll;
}

#menuBar {
  margin-top: -3.9vw;
  width: 2.1vw;
  height: 2vw;
  border-radius: 0.5vw;
  border: 1px solid black;
  position: absolute;
  left: 2%;
}

.menuBarLines {
  margin-top: 0.35vw;
  margin-left: 0.3vw;
  width: 1.5vw;
  background-color: white;
  height: 0.2vw;
}

#sideBar {
  width: 0vw;
  background-color: white;
  position: absolute;
  top: 0vw;
  left: 0vw;
  bottom: 0;
  overflow-y: scroll;
  border: 0.1vw solid black;
  display: none;
  font-size: 2vw;
}

#sideBarHeader {
  display: flex;
  justify-content: space-between;
  background-color: #ffffa4;
  height: 3vw;
  padding-top: 1vw;
  border-bottom: 1px solid black;
}

#headerText {
  display: flex;
  margin-left: 1vw;
}

#headerText > span {
  font-weight: 100;
}

#newList {
  margin-top: 0.5vw;
  padding-left: 1vw;
  height: 3vw;
  border-bottom: 1px solid black;
  cursor: pointer;
}

#newList > span {
  margin-left: 2vw;
  font-weight: 100;
}

#crossButton {
  top: -2.6vw;
  display: none;
  font-size: 1vw;
  cursor: pointer;
  height: 1vw;
  margin-right: 0.5vw;
}

#addList {
  position: absolute;
  margin-top: 10vw;
  margin-left: 40vw;
  height: 7vw;
  width: 16vw;
  border: 1px solid black;
  background-color: white;
  border-radius: 1vw;
  display: none;
}

#addList > span {
  font-size: 1.5vw;
  margin-left: 1vw;
}

#todoName {
  width: 13vw;
  margin-left: 2vw;
  margin-top: 1vw;
  border: none;
  outline: none;
  font-size: 1.3vw;
  border-bottom: 1px solid black;
}

.cancel {
  margin-left: 8vw;
  cursor: pointer;
  font-size: 1.3vw;
}

.save {
  cursor: pointer;
  font-size: 1.3vw;
}
