.signUpPage {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/loginBackgroundImage.jpeg');
  background-size: cover;
}

.signUp {
  position: absolute;
  background-color: white;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25vw;
  height: 33vw;
  border: 0.1vw solid;
  font-size: 1.2vw;
  font-weight: 100;
}

.header {
  margin: 1vw;
}

.userDetail {
  margin: 1vw;
}

.userDetail * p {
  margin-left: 0.5vw;
  margin-top: 1.5vw;
  margin-bottom: 0;
  font-weight: 100;
}

.userDetail * input {
  width: 90%;
  margin: 0.5vw;
  font-size: 1.5vw;
  outline: none;
}

.userDetail * button {
  width: 90%;
  margin-left: 0.7vw;
  margin-top: 1.8vw;
  margin-bottom: 0.3vw;
  cursor: pointer;
  height: 2vw;
  font-size: 1.2vw;
  border-radius: 0.5vw;
  background-color: mediumblue;
  color: white;
}
