.taskName {
  display: flex;
  flex-direction: column-reverse;
  width: 20vw;
  height: 26vw;
  overflow-y: scroll;
}

.input {
  height: 10%;
  border-radius: 2vw;
  border: 0.1vw solid black;
  margin: 1vw;
}

.input > input {
  border: none;
  outline: none;
  margin-top: 0.5vw;
  margin-left: 1vw;
  font-size: 1vw;
  font-weight: 100;
  width: 90%;
}

p {
  /* font-size: 1.2vw;
  font-weight: 100; */
  margin: 0vw;
  margin-top: 0.2vw;
  outline: none;
}

.task {
  display: flex;
  width: 100%;
}
.task:hover > .deleteTask {
  cursor: pointer;
  font-size: 1.2vw;
  align-self: center;
  margin: 0vw;
  display: block;
}

.taskTitle {
  display: flex;
  flex: 70%;
  margin-left: 1vw;
  margin-right: 1vw;
}

.taskTitle > input {
  font-size: 1vw;
  margin-top: 0.5vw;
}

.taskList {
  height: 80%;
  width: 20vw;
  margin-top: 1vw;
  overflow-y: scroll;
  font-size: 1.2vw;
  font-weight: 100;
}

.deleteTask {
  cursor: pointer;
  font-size: 1.2vw;
  align-self: center;
  margin: 0vw;
  display: none;
}
