.taskName {
  display: flex;
  flex-direction: column-reverse;
  width: 20vw;
  height: 26vw;
  overflow-y: scroll;
}

.input {
  height: 11%;
  border-radius: 2vw;
  border: 0.1vw solid black;
  margin: 1vw;
}

.input > input {
  border: none;
  outline: none;
  margin-top: 0.12vw;
  margin-left: 1vw;
  font-size: 1.5vw;
  font-weight: 100;
}

p {
  font-size: 1.8vw;
  font-weight: 100;
  margin: 0vw;
}

.task {
  display: flex;
  justify-content: space-between;
  height: 3vw;
  font-size: 2vw;
}

.taskTitle {
  display: flex;
}

.taskTitle > input {
  font-size: 1.5vw;
  margin-top: 0.5vw;
}

.taskList {
  height: 90%;
  margin-top: 1vw;
  overflow-y: scroll;
}

.deleteTask {
  display: flex;
  margin-right: 1vw;
  cursor: pointer;
}
