.todo {
  display: flex;
  flex-direction: column;
  height: 30vw;
  width: 20vw;
  border: 1px solid black;
  border-radius: 0.6vw;
  margin: 2vw;
  overflow: hidden;
}

.todoName {
  flex: 70%;
  text-align: center;
  align-self: center;
  font-size: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: scroll;
  margin-top: 1vw;
}

.todoName > span {
  outline: none;
}

.todoName:hover {
  text-overflow: clip;
}

.todoHeader {
  background-image: linear-gradient(#2ca731, #6bd26f);
  color: white;
  display: flex;
  height: 4vw;
  width: 20vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  background: transparent;
}

.delete {
  margin-top: 1vw;
  flex: 15%;
  cursor: pointer;
  font-size: 2vw;
}

.editTodo {
  margin-top: 1vw;
  flex: 15%;
  cursor: pointer;
}

.editTodo > img {
  width: 2vw;
  height: 2vw;
}
