.todo {
  display: flex;
  flex-direction: column;
  height: 30vw;
  width: 25vw;
  border: 1px solid black;
  border-radius: 0.6vw;
  margin: 2vw;
}

.todoName {
  flex: 90%;
  text-align: center;
  margin-top: 0.1 vw;
  font-size: 2vw;
}

.todoHeader {
  display: flex;
  height: 4vw;
  width: 25vw;
  border-bottom: 1px solid black;
}

.delete {
  margin-top: 0.6vw;
  flex: 10%;
  cursor: pointer;
  font-size: 2vw;
}

.taskName {
  display: flex;
  flex-direction: column-reverse;
  width: 25vw;
  height: 26vw;
  overflow-y: scroll;
}

.input {
  height: 20%;
  border-radius: 2vw;
  border: 0.1vw solid black;
}

.input > input {
  border: none;
  outline: none;
  margin-top: 1vw;
  margin-left: 2vw;
  font-size: 1.8vw;
}

.task {
  display: flex;
  justify-content: space-between;
  height: 3vw;
  font-size: 2vw;
  margin-top: 0.8vw;
}

.taskTitle {
  display: flex;
}

.taskTitle > input {
  font-size: 2vw;
}

.taskList {
  height: 90%;
  overflow-y: scroll;
}

.deleteTask {
  display: flex;
  margin-right: 1vw;
  cursor: pointer;
}
